body {
  background-color: #cb8771bd;
}

.navbar {
  background-color: #778899;
  color: black;
}

#birthday-cake {
  background-color: #778899;
}

#appetizer {
  background-color: #778899;
}

footer {
  background-color: #778899;
}
